mkdocs
mkdocs-material
mkdocs-glightbox
mkdocs-minify-plugin
mkdocs-table-reader-plugin
mkdocs-rss-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-mermaid2-plugin
mkdocs-awesome-pages-plugin
mkdocs-include-markdown-plugin
mdx_truly_sane_lists
# mkdocs-macros-plugin
# mkdocs-redirects
# mkdocs-git-committers-plugin-2
# mkdocs-git-authors-plugin
